@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutList.cshtml";
}

<div class="admin-main">
    <blockquote class="layui-elem-quote p10">
        <form id="formSearch" class="layui-form" action="">
            <div class="layui-form-item" style="margin-bottom:0px;">
                <label class="layui-form-label">操作名称：</label>
                <div class="layui-input-inline">
                    <input name="ActionName" id="ActionName" lay-verify="" autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label">状态：</label>
                <div class="layui-input-inline">
                    @Html.StatusSelectHtml()
                </div>
                @Html.SearchBtnHtml()
                @Html.ResetBtnHtml()
                <div style="float:right;">
                    @Html.TopToolBarHtml(ViewData["ActionFormRightTop"])
                </div>
            </div>
        </form>
    </blockquote>
    <div class="layui-field-box">
        <table id="defaultTable" lay-filter="defaultruv"></table>
        <script type="text/html" id="bar">
            @Html.ToolBarHtml(ViewData["ActionList"])
        </script>
    </div>
</div>
<script>
			layui.use(['table', 'common', 'form'], function () {
			    var table = layui.table,
                    form = layui.form,
                    common = layui.common;
			    //表格
			    table.render({
			        id: 'defaultReload'
                   , elem: '#defaultTable'
                   , height: 'full-112' //高度最大化减去差值
                   , url: '/Permissions/Action/List' //数据接口
                   , page: true //开启分页
                   , cols: [[ //表头
                     { checkbox: true, fixed: true },
                     { field: 'Id', title: 'Id', width: 80, fixed: 'left' }
                     , { field: 'ActionCode', title: '操作编码', sort: true }
                     , { field: 'ActionName', title: '操作名称' }
                     , { field: 'MenuIcon', title: '操作图标', templet: '<div><i class="iconfont {{d.Icon}}"></i></div>' }
                     , { field: 'Method', title: '操作方法' }
                     , { field: 'OrderBy', title: '排序号',width:80 }
                     , { field: 'Status', title: '状态', templet: '<div>{{showStatus(d.Status)}}</div>', unresize: true, width: 100, align: 'center' }
                     , { field: 'CreateOn', title: '创建时间', sort: true, templet: '<div>{{showDate(d.CreateOn)}}</div>' }
                     , { field: '', title: '操作', toolbar: "#bar" }
                   ]]
			    });
			    var $ = layui.$, active = {
			        reload: function () {
			            //执行重载
			            table.reload('defaultReload', {
			                page: {
			                    curr: 1 //重新从第 1 页开始
			                }
                          , where: urlToJson($("#formSearch").serialize())
			            });
			        }
			    };
			    //服务器排序
			    table.on('sort(defaultruv)', function (obj) {
			        //尽管我们的 table 自带排序功能，但并没有请求服务端。
			        //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，如：
			        table.reload('defaultReload', {
			            initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
                      , where: { //请求参数
                          field: obj.field //排序字段
                        , order: obj.type //排序方式
                      }
			        });
			    });
			    $('#btnSearch').on('click', function () {
			        var type = $(this).data('type');
			        active[type] ? active[type].call(this) : '';
			    });
			    //add
			    $('#btnAdd').on('click', function () {
			        common.openTop({
			            title: '操作添加', w: '670px', h: '500px', content: '/Permissions/Action/Add/'
			        });
			    });
			    //监听工具条
			    table.on('tool(defaultruv)', function (obj) {
			        var data = obj.data;
			        if (obj.event === 'detail') {
			            common.openTop({
			                detail:true,
			                title: '操作详情', w: '568px', h: '400px', content: '/Permissions/Action/Detail/' + data.Id, clickOK: function (index) {
			                    common.close(index);
			                }
			            });
			        } else if (obj.event === 'del') {
			            layer.confirm('确定要删除吗？', function (index) {
			                $.ajax({
			                    url: "/Permissions/Action/Delete",
			                    type: "POST",
			                    data: { "Id": data.Id },
			                    dataType: "json",
			                    success: function (data) {
			                        if (data.state == "success") {
			                            obj.del();//删除这一行
			                            layer.close(index); //关闭弹框
			                            common.msgSuccess("删除成功");
			                        } else {
			                            common.msgError("删除失败");
			                        }
			                    }
			                });
			            });
			        } else if (obj.event === 'edit') {
			            common.openTop({
			                title: '操作编辑', w: '670px', h: '500px', content: '/Permissions/Action/Edit/' + data.Id
			            });
			        }
			    });
			});
</script>


