@model RightControl.Model.RoleModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDetail.cshtml";
}

<div class="layui-col-md12">
    <table class="layui-table" lay-skin="line">
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(x => x.RoleName)：</td>
                <td>@Model.RoleName</td>
                <td>@Html.DisplayNameFor(x => x.RoleCode)：</td>
                <td>@Model.RoleCode</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(x => x.Status)：</td>
                <td colspan="3">@Html.DisplayStatusHtml(@Model.Status)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(x => x.CreateOn)：</td>
                <td>@Html.DisplayFor(x => x.CreateOn)</td>
                <td>@Html.DisplayNameFor(x => x.UpdateOn)：</td>
                <td>@Html.DisplayFor(x => x.UpdateOn)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(x => x.CreateBy)：</td>
                <td>@Html.DisplayFor(x => x.CreateBy)</td>
                <td>@Html.DisplayNameFor(x => x.UpdateBy)：</td>
                <td>@Html.DisplayFor(x => x.UpdateBy)</td>
            </tr>
            <tr><td>@Html.DisplayNameFor(x => x.Remark)：</td><td colspan="3">@Model.Remark</td></tr>
    </table>
</div>
<script>
layui.use(['form'], function () {
            var form = layui.form;
    });
</script>

